<h1>Competitors</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Competitor</th>
      <% @competition.categories.each do |category| %>
        <th><abbr title="<%= category.name %>"><%= category.code %></abbr></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user.email %></td>
        <% @competition.categories.each do |category| %>
          <td class="boolean"><%= "x" if entry.has_category?(category) %></td>
        <% end %>
      </tr>
    <% end %>
</table>
