<h1><%= @event.category.name %> results, <%= @round.name %></h1>

<% if @results.any? %>
  <%= render "results/results" %>
<% else %>
  <%= link_to "Start this round", edit_event_round_path(@event, @round.number) %>
<% end %>
